.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 40px;
    padding: 10px 80px;
    margin-top: 60px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.cart-container{
    padding: 10px;
    background: rgb(246, 211, 165);
}
.cart-title{
    text-align: center;
}
.cart-container h3{
    color: #444;
    font-size: 20px;
    margin-bottom: 16px;
}

/* media query for the mobile device */

@media only screen and (max-width: 600px){
    .shop-container {
        
        grid-template-columns: 3fr 2fr;
        gap: 10px;
        padding: 10px;
        margin-top: 60px;
    }
    .products-container{
        grid-template-columns: 1fr;
    }
    .cart-container{
        padding: 7px;
    }
    .cart-container h3{
        font-size: 16px;
    }
    .cart-container p{
        font-size: 14px;
    }
}