.cart{
    position: sticky;
    top: 0;
    padding-top: 20px;
}
.cart p, .grand-total{
    padding: 10px 8px;
}
.checkout-cart-btn,
.clear-cart-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.clear-cart-btn{    
    background-color: #FF3030;
}
.checkout-cart-btn{
    background-color: #FF9900;
    margin-top: 16px;
}
.checkout-cart-btn p,
.clear-cart-btn p{
    margin: 0;
    margin-left: -5px;
    color: #fff;
}
.clear-icon{
    color: #ffffff;
    cursor: pointer;
}

/* media query for the mobile device */

@media only screen and (max-width: 600px){
    .cart{
        padding-top: 90px;
    }
}